* text=auto eol=lf

*.py text diff=python
*.pyi text diff=python

*.zsh text eol=lf diff=bash
*.azcli text eol=lf

*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.md text eol=lf diff=markdown
*.sql text eol=lf

*.jinja text
*.html.j2 text

*.cfg text
*.ini text
*.env text
.editorconfig text
.gitattributes text
.gitignore text

Containerfile text
Caddyfile text
compose.yml text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.zip binary
*.gz binary
*.tar binary
*.pdf binary

uv.lock -diff linguist-generated=true
bun.lock -diff linguist-generated=true