dist/
build/
htmlcov/
coverage/

node_modules/
.venv/
.tox/

__pycache__/
.ruff_cache/
.mypy_cache/
.ty/
.pytest_cache/
.vite/

*.lock
uv.lock
pnpm-lock.yaml

*.parquet
*.db

Containerfile
Containerfile.*
