services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Containerfile.dev
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    init: true
    environment:
      - {{ project_slug | upper }}_ENVIRONMENT=local
{%- if use_redis %}

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
{%- endif %}
{%- if use_redis %}

volumes:
  redis-data:
{%- endif %}
