"""Deployment environment enumeration."""

from __future__ import annotations

from enum import unique

from {{ project_slug }}.core.enums.base import ParseableEnum


@unique
class Environment(ParseableEnum):
    """Deployment environment enumeration."""

    LOCAL = "local"
    DEV = "dev"
    TEST = "test"
    STAGING = "staging"
    PROD = "prod"
