# Default code owners
* @{{ github_username }}

# Backend
/src/ @{{ github_username }}
/tests/ @{{ github_username }}

# Frontend
/frontend/ @{{ github_username }}

# Infrastructure
/compose*.yml @{{ github_username }}
/Containerfile @{{ github_username }}
/.github/ @{{ github_username }}
