blank_issues_enabled: false
contact_links:
  - name: Documentation
    url: https://github.com/{{ github_username }}/{{ project_slug }}/tree/main/docs
    about: Check the documentation before opening an issue
