#!/usr/bin/env zsh
emulate -L zsh
setopt PIPE_FAIL ERR_EXIT

# Description :
# Add a secret to an Azure Key Vault.
#
# Usage :
# ./add-kv-secret.azcli -v my-vault -n my-secret -s "my-secret-value"
# ./add-kv-secret.azcli --vault my-vault --name my-secret --secret "my-secret-value"

zparseopts -F -- {v,-vault}:=vault {n,-name}:=name {s,-secret}:=secret

: "${vault:?Usage: [-v vault-name|--vault vault-name]}"
: "${name:?Usage: [-n secret-name|--name secret-name]}"
: "${secret:?Usage: [-s secret-value|--secret secret-value]}"

readonly ARG_INDEX=2
vault=${vault[$ARG_INDEX]}
name=${name[$ARG_INDEX]}
secret=${secret[$ARG_INDEX]}

echo "Setting secret '${name}' in Key Vault '${vault}'..."

az keyvault secret set \
--vault-name "$vault" \
--name "$name" \
--value "$secret" \
--only-show-errors \
--output none

echo "Secret '${name}' set successfully."
