<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{{ project_name }}</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
  </head>

  <body>
    {%- if frontend_framework == "lit" %}
    <app-root></app-root>
    <script type="module" src="/src/app.ts"></script>
    {%- elif frontend_framework == "react" %}
    <div id="root"></div>
    <script type="module" src="/src/app.ts"></script>
    {%- endif %}
  </body>

</html>