#!/usr/bin/env zsh
emulate -L zsh
setopt PIPE_FAIL ERR_EXIT

# Seed database with initial data
echo "Seeding database..."

uv run python -m {{ project_slug }}.ports.cli.app db-seed

echo "Database seeded"
