{
  "recommendations": [
    "astral-sh.ty",
    "bradlc.vscode-tailwindcss",
    "charliermarsh.ruff",
    "codezombiech.gitignore",
    "davidanson.vscode-markdownlint",
    "dbaeumer.vscode-eslint",
    "dvirtz.parquet-viewer",
    "editorconfig.editorconfig",
    "esbenp.prettier-vscode",
    "exiasr.hadolint",
    "github.copilot-chat",
    "github.remotehub",
    "ms-python.debugpy",
    "ms-python.python",
    "ms-vscode-remote.remote-ssh",
    "ms-vscode-remote.remote-ssh-edit",
    "ms-vscode-remote.remote-wsl",
    "ms-vscode.powershell",
    "ms-vscode.remote-explorer",
    "ms-vscode.remote-repositories",
    "ms-vscode.remote-server",
    "ms-windows-ai-studio.windows-ai-studio",
    "mtxr.sqltools",
    "mtxr.sqltools-driver-pg",
    "naumovs.color-highlight",
    "patricklee.vsnotes",
    "postman.postman-for-vscode",
    "redhat.vscode-yaml",
    "samuelcolvin.jinjahtml",
    "shd101wyy.markdown-preview-enhanced",
    "streetsidesoftware.code-spell-checker",
    "streetsidesoftware.code-spell-checker-danish",
    "tamasfe.even-better-toml",
    "teamsdevapp.vscode-ai-foundry",
    "timonwong.shellcheck",
    "tomoki1207.pdf",
    "upstash.context7-mcp",
    "vitest.explorer",
    "vscode-icons-team.vscode-icons",
    "waderyan.gitblame",
    "wayou.vscode-todo-highlight",
    "ms-azuretools.vscode-containers",
    "ms-dotnettools.vscode-dotnet-runtime"{% if cloud_provider == 'azure' %},
    "ms-azure-devops.azure-pipelines",
    "ms-azuretools.vscode-azure-github-copilot",
    "ms-azuretools.vscode-azure-mcp-server",
    "ms-azuretools.vscode-azureresourcegroups",
    "ms-azuretools.vscode-bicep",
    "ms-vscode.azure-repos",
    "ms-vscode.azurecli"{% endif %}{% if use_devcontainer %},
    "ms-vscode-remote.remote-containers"{% endif %}{% if use_playwright %},
    "ms-playwright.playwright"{% endif %}{% if database_backend == 'postgresql' %},
    "ckolkman.vscode-postgres"{% endif %}
  ],
  "unwantedRecommendations": []
}
