{
  "recommendations": [
    "editorconfig.editorconfig",
    "eamodio.gitlens",
    "pkief.material-icon-theme",
    "task.vscode-task",
    "ms-azuretools.vscode-docker",
    "redhat.vscode-yaml",
    "tamasfe.even-better-toml",
    "mikestead.dotenv",
    "aaron-bond.better-comments",
    "streetsidesoftware.code-spell-checker",
    "ms-python.python",
    "ms-python.vscode-pylance",
    "ms-python.debugpy",
    "charliermarsh.ruff",
    "ms-python.mypy-type-checker",
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode",
    "vitest.explorer",
    "ms-vscode-remote.remote-wsl",
    "ms-vscode-remote.remote-containers",
    "humao.rest-client"
  ],
  "unwantedRecommendations": []
}
